@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf");
}

@font-face {
  font-family: "FigtreeItalic";
  src: url("assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
}

:root {
  --black: #1e1e1e;
  --yellow: #f4d04e;
  --pure-white: #ffffff;
  --grey: #7f7f7f;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Figtree", sans-serif;;
}
.image,
.content {
  padding-bottom: 24px;
}

.published-date,
.title {
  padding-bottom: 12px;
}

span {
  display: block;
}

.title:hover {
  color: var(--yellow);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--yellow);
}

.card {
  padding: 24px;
  /* max-width: 327px; */
  max-width: 87.2%;
  background-color: #fff;
  text-align: left;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 7px 7px, rgba(0, 0, 0, 1) -1px 1px, rgba(0, 0, 0, 1) 0px -1px;
}

.card > .image {
  max-width: 100%;
  display: inline-block;
}
.card > .image > img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow:  1px 1px  #0000;
}

.Learning {
  background-color: var(--yellow);
  display: inline-block;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 26px;
  margin-bottom: 12px;
  font-size: 12px;
}

.published-date {
  font-size: 12px;
  font-weight: 500;
}

.title {
  font-size: 1.25rem;
  font-weight: 900;
}

.discription {
  font-size: 14px;
  color: var(--grey);
  line-height: 1.5;
}

.auther {
  display: flex;
  align-items: center;
}

.auther > img {
  max-width: 32px;
  margin-right: 8px;
}

.auther > .auther-name {
  font-weight: bold;
  font-size: 12px;
}

@media screen and (width > 375px) {
  .card {
    max-width: 384px;
  }
  .discription {
    font-size: 16px;
  }
}
